<!DOCTYPE html>
<html>
<head>
  <title>新建留言</title>
</head>
<body>
  <center>
    <form action="/add" method="post">
      <br>
      姓名：<input type="text" name="author" maxlength="30">
      <br>
      留言：<textarea  name="message" rows="10" cols="30" placeholder="留言应不少于10个字" ></textarea>
      <input type="submit" value="提交">
      <input type="reset"  value="重置">
    </form>
    <br>
    <a href="/">返回首页</a>
  </center>
</body>
</html>
