<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>登陆界面</title>
  </head>
  <body>
    <form action='/change_password' method="post">
      旧密码<input type="password"  name = "oldpassword" >
      <br>新密码<input type="password"  name = "newpassword">
      <a href="/myaccount">返回</a>
      <input type="submit" name="name" value="修改">
    </form>
  </body>
</html>
