<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>注册界面</title>
  </head>
  <body>
    <center>
      <form action='/signup' method="post">
        <br>username<input type = "text"  name = "username">
        <br>password<input type = "password"  name = "password" placeholder="至少包含8个字符">
        <br><input type = "submit" name="name" value="signup">
      </form>
    </center>
  </body>
</html>
